//- Navbar mixins
mixin nav(name, id, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    nav( role="navigation", class=["navbar", "navbar-" + style] )
        div.navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#")= name

        div.collapse.navbar-collapse( id=id )
            ul.nav.navbar-nav.navbar-left
                +nav_item( "/", "active" ) Home
                +nav_item_dropdown( "#" )( label="Cabinet" )
                    +nav_item( "#" ) Your Favorites
                    +nav_item( "#" ) Saved For Later
                    +nav_item( "#" ) Custom Recipes
                    +nav_item( "#" ) Weekly Suggestions
                +nav_item_dropdown( "#" )( label="recipes" )
                    +nav_item( "#" ) All Recipes
                    +nav_item( "#" ) Families
                    +nav_item( "#" ) Alcohols
             //   +nav_item( "pairings" ) Pairings
            ul.nav.navbar-nav.navbar-right
                +nav_item_dropdown( "login" ) Login



mixin nav_item(href, active)
    li(class=active): a( href=href )
        block

mixin nav_item_dropdown(href, active)
    li(class=["dropdown", active])
        a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
            span.caret
        ul.dropdown-menu( role="menu" )
            block

mixin nav_divider
    li.divider

mixin nav_header
    li.dropdown-header
        block

//- End navbar mixins